@import url(menu.css);

@font-face {
    font-family: 'Scriptina';
    src: url("../fonts/scriptina/SCRIPTIN.ttf");
}

@font-face {
    font-family: 'Lane';
    src: url("../fonts/lane/LANENAR_.ttf");
}

html
{
    height: 100%;
}

body
{
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lane";
    position: relative;
}

footer
{
    position: absolute;
    width: 100%;
    bottom: 0;
}

a
{
    color: #000;
    text-decoration: none;
}

#menu a
{
    font-weight: bold;
    font-size: 1.2em;
}

#logo
{
    font-size: 1.2em;
    display: inline;
    margin-left: 15px;
    font-family: 'Scriptina';
}

#menu
{
    text-transform: uppercase;
}


#copyright
{
    margin-bottom: 0;
}